<ion-header>
  <app-toolbar>
    
  </app-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <!-- <ion-button (click)="onClickRegister()" expand="block" >
    Crear documento
  </ion-button> -->

  <ion-fab vertical="top" horizontal="end" slot="fixed">
    <ion-fab-button color="light" (click)="onClickRegister()">
      
      <ion-icon color="dark" name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
 
  <ng-container 
    *ngIf="objectUser; else dataAccess"
  >

  <ion-card mode="ios">
    
    <div class="text-center mt-3 -mb-4">
      <img width="40%" style="border-radius: 50%;" src="http://127.0.0.1/api-scribd/imagenes/{{ objectUser.person_id.image }}" alt="">
      <!-- <ion-avatar>
        <img src="http://127.0.0.1/api-scribd/imagenes/{{ objectUser.person_id.image }}" alt="">      
      </ion-avatar> -->
    </div>
    <ion-card-header class="-mb-2">
      <ion-card-subtitle mode="md">{{ objectUser.email }} <ion-badge color="success" mode="ios">{{ objectUser.state === 'A' ? 'Activa': 'Inactiva'}}</ion-badge></ion-card-subtitle>
      <ion-card-title >{{ objectUser.person_id.name }} {{ objectUser.person_id.last_name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content class="-mb-4">
      <ion-grid fixed>
        <ion-row class="-mx-2">
          <ion-col size="6"  size-sm="6" size-lg="4" size-md="4" size-xl="3" class="text-justify -mt-2">
            <ion-label style="font-weight: bold; font-size: 12px;">Dirección: </ion-label>
            <ion-label style="font-size: 12px;">{{objectUser.person_id.direction}} </ion-label>
          </ion-col>
          <ion-col size="6"  size-sm="6" size-lg="4" size-md="4" size-xl="3" class="text-justify -mt-2">
            <ion-label style="font-weight: bold; font-size: 12px;">Telefono: </ion-label>
            <ion-label style="font-size: 12px;">{{ objectUser.person_id.phone }} </ion-label>
          </ion-col>
          <ion-col size="6"  size-sm="6" size-lg="4" size-md="4" size-xl="3" class="text-justify -mt-2">
            <!-- <ion-label style="font-weight: bold; font-size: 12px;">Rol: </ion-label> -->
            <ion-badge color="primary" mode="ios">{{ objectUser.type_user_id.name }}</ion-badge>
          </ion-col>
          <ion-col size="6"></ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  </ng-container>
  


  <ng-template #dataAccess>
    <h1></h1>
  </ng-template>
  
  <!-- <div class="text-center -mb-2">
    <ion-badge color="primary" mode="ios">Mis repositorios</ion-badge>

  </div> -->
  <p class="font-bold text-center -mb-2">Mis repositorios</p>
  <ion-grid fixed>
    <ion-row>
      <ion-col size="6" *ngFor="let d of listDocuments"  >
        <ion-card  mode="ios" class=" mx-1">
          <ion-card-header mode="md"  >
            <!-- <ion-toolbar>
            </ion-toolbar> -->
            <div class="ion-align-self-end ">
              
              
                <ion-button (click)="onClickDelete()" color="danger" fill="clear" >
                  <ion-icon slot="icon-only" name="trash"></ion-icon>              
                </ion-button>
                                    
            </div>
            <div class="text-center">
              <img width="70%" src="http://127.0.0.1/api-scribd/imagenes/documents.png" alt="">

            </div>
            <!-- <ion-card-subtitle>Tipo: {{d.document_id.type}}</ion-card-subtitle> -->
            <ion-badge [color]="(d.document_id.type === 'DOC') ? 'primary' : ((d.document_id.type === 'PDF') ? 'danger' : 'warning')" mode="ios">
              {{ d.document_id.type }}
            </ion-badge>
            <ion-card-title mode="" class="text-center">{{ d.document_id.name }}</ion-card-title>
          </ion-card-header>
          <ion-card-content mode="md"  (click)="onClickEdit( d )" >
            <div class="text-justify">
              <ion-label> {{ d.document_id.description }} </ion-label>
            </div>
            <div class="ion-align-items-center">
              <ion-icon slot="start" name="earth"></ion-icon>
              <ion-label class="font-bold"> {{ d.document_id.date_upload }} </ion-label>
            </div>
            <!-- <div class="text-center">
              <ion-button (click)="onClickEdit( d )" fill="clear" mode="ios">
                <ion-icon color="primary" style="font-size: 25px"  name="trash"></ion-icon>
              </ion-button>
            </div> -->
          </ion-card-content>
        </ion-card>

      </ion-col>      
    </ion-row>
  </ion-grid>
</ion-content>
