<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Scribdd</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  
  <ion-grid fixed>
    <ion-row>
      <ion-col size="12" *ngFor="let c of listCategories">
        <ion-card mode="ios" (click)="onClickView( c.category_id )">
          <ion-card-header>
            <ion-card-subtitle>Codigo: {{ c.category_id}}</ion-card-subtitle>
            <ion-card-title>{{c.name}}</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            
          </ion-card-content>
        </ion-card>
      </ion-col>      
    </ion-row>
  </ion-grid>

</ion-content>
