

<div 
  class="
    container flex align-items-center 
    justify-content-center min-h-screen min-w-screen overflow-hidden 
  "
>
  <div >
    <form [formGroup]="signInForm">
      <ion-card class=" " mode="ios" >
        <div class="text-center mt-4 -mb-3">
          <img src="assets/icon/scribd.png" alt="Image" height="90" class="mb-2">
          <div class="text-100 text-2xl font-semibold mb-3">Bienvenidos a Scribdd</div>
        </div>
      
        <ion-card-content mode="md">
          <div class=" p-fluid p-formgrid grid pt-2 ">
            <div class="field col-12 ">
              <ion-input 
                formControlName="email" 
                [ngClass]="{ 'is-invalid': fieldsValidate('email')}"
                label="Correo electrónico*" 
                label-placement="floating" fill="solid" 
                placeholder="Ej. usuario@gmail.com"></ion-input>
              <small
                *ngIf="signInForm.get('email')?.errors?.['required']"          
              >El correo electrónico es requerido.</small>
            </div>
            <div class="field col-12 -mt-3">
              <ion-input 
                formControlName="password" 
                type="password"
                [ngClass]="{ 'is-invalid': fieldsValidate('password')}"
                label="Contraseña*" 
                label-placement="floating" fill="solid" 
                placeholder="Ej. ******"></ion-input>
              <small      
                *ngIf="signInForm.get('password')?.errors?.['required']" 
              >La contraseña es requerida.</small>
            </div>
          </div>
          <div class="-mt-2 mb-3">
            <ion-button (click)="loadSignIn()" mode="ios" [disabled]="signInForm.invalid"  expand="block">
              Iniciar sesión
            </ion-button>         
          </div>
          <div class="flex justify-content-end">
            <ion-label>¿No tienes cuenta?
              <a href="">Registrate aquí</a>
            </ion-label>
            
          </div>
        </ion-card-content>
      </ion-card>
    </form>

  </div>
</div>

